@use 'helpers/mixins' as *;
@use 'helpers/functions' as *;
@use 'helpers/media' as *;
@use 'helpers/index' as *;

html {
  &.on-lock{
    overflow: hidden;
  }
}

main{
  flex-grow: 1;
}
body {
  @include fluid-text(16, 14);
   display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  background-color: var(--color-page);
  color: var(--color-gray);
  letter-spacing: -0.03em;
}


h1,h2,h3{
  font-family: var(--font-family-base);
}

h1, .h1 h2, .h2, h3, .h3 h4, .h4{
  font-weight: 500;
}

h1, .h1 {
  @include fluid-text(24, 21);
  Line-height: 1.2;
}

h2, .h2 {
  @include fluid-text(22, 20);
  Line-height: 1.3;
}
h3, .h3{
  @include fluid-text(20,18 );
}
h4, .h4{
  @include fluid-text(18,16 );
}


a,label,input,button,textarea,select,svg *{
  transition: var(--transition-duration);
}

a{
  color: #fff;
  @include hover{
    color: var(--color-accent);
  }

  &[class]{
    text-decoration: none;
  }
}

:focus-visible{
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important ;
}