@use "../helpers" as *;
.footer{
  background-color: var(--color-dark);
  color: var(--color-gray-extra);
  &__body{
    padding-block: fluid(90, 40);
    border-bottom: var(--border);
    display: grid;
    align-items: center;
    row-gap: rem(30);
    @include tablet-above(){
      grid-template-columns: 1fr 72%;
    }
  }
  &__main{
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
    &-description{
      white-space: pre-line;
    }
    &-body{
      row-gap: rem(15);
      display: flex;
      flex-direction: column;
    }
  }
  &__menu{
    display: grid;
    column-gap: fluid(80, 20);
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    @include tablet(){
      grid-template-columns: repeat(2, 1fr);
      row-gap: rem(36)
    }




    &-link{
      color: var(--color-dark-40);
    }

    &-main-link{
      color: var(--color-light-10);
      font-weight: 500;
    }

    &-column{
      row-gap: fluid(36, 16);
      display: grid;

      @include tablet(){
        &:last-child{
          grid-column: -1/1;}
      }

    }
    &-list{
      row-gap: fluid(18,8);
      display: grid;
    }

  }
  &__contacts{
   &-list{
     row-gap: rem(16);
     display: flex;
     flex-direction: column;
   }
    &-item{
      display: flex;

      justify-content: start;
      align-items: center;
    }
  }

}

.footer__extra{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: rem(30);

  @include tablet{
    flex-direction: column;
    row-gap: rem(25);
  }
  @include laptop{
    padding-block: rem(24);
  }
  @include phone{
    row-gap: rem(20);
  }

  &-menu{
    &-list{
      display: flex;

    }
    &-item:first-child::after{
      content: "|";
      margin-inline: rem(11);
    }

  }

}