@use "../helpers" as *;
.footer{
  background-color: #0a0a0a;
  color: var(--color-gray-extra);
  &__body{
    padding-block: fluid(90, 40);
    border-bottom: var(--border);
    display: grid;
    align-items: center;
    row-gap: rem(30);
    @include tablet-above(){
      grid-template-columns: 1fr 72%;
    }
  }
  &__main{
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
    color: #fff;
    &-description{
      white-space: pre-line;
      color: rgba(255, 255, 255, 0.7);
    }
    &-body{
      row-gap: rem(15);
      display: flex;
      flex-direction: column;
    }
  }
  &__menu{
    display: grid;
    column-gap: fluid(80, 20);
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    @include tablet(){
      grid-template-columns: repeat(2, 1fr);
      row-gap: rem(36)
    }




    &-link{
      color: rgba(255, 255, 255, 0.6);
      &:hover {
        color: #fff;
      }
    }

    &-main-link{
      color: #fff;
      font-weight: 500;
    }

    &-column{
      row-gap: fluid(36, 16);
      display: grid;

      @include tablet(){
        &:last-child{
          grid-column: -1/1;}
      }

    }
    &-list{
      row-gap: fluid(18,8);
      display: grid;
    }

  }
  &__contacts{
   &-list{
     row-gap: rem(16);
     display: flex;
     flex-direction: column;
   }
    &-item{
      display: flex;

      justify-content: start;
      align-items: center;
    }
  }

}

.footer__extra{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: rem(30);

  @include tablet{
    flex-direction: column;
    row-gap: rem(25);
  }
  @include laptop{
    padding-block: rem(24);
  }
  @include phone{
    row-gap: rem(20);
  }

  &-menu{
    &-list{
      display: flex;

    }
    &-item:first-child::after{
      content: "|";
      margin-inline: rem(11);
    }

  }

  &__payments {
    display: flex;
    gap: rem(15);
    align-items: center;
    color: #fff;

    svg {
      transition: transform 0.3s ease, color 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: translateY(-3px);
        color: rgba(255, 255, 255, 0.8);
      }
    }

    @include tablet {
      justify-content: center;
      width: 100%;
    }
  }

}