@use "../helpers" as *;
.product-section{
  row-gap: rem(70);
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header{
    @include flex-center();
    flex-direction: column;
  }
  &__subtitle {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    max-width: rem(700);
    margin-top: rem(15);
  }
}