@use "sass:math";
@use "functions" as *;
@mixin fluid-text($max: 48, $min: 16) {
 font-size: fluid($max, $min);
}

@mixin flex-center($Isinline: false) {
  @if $Isinline{
display: inline-flex;
  } @else{
    display: flex;
  }
  justify-content: center;
  align-items: center;
}
@mixin abs-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin abs-center-x{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin abs-center-y{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin hide{
  opacity: 0;
  visibility: hidden;
}
@mixin show{
  opacity: 1;
  visibility: visible;
}
@mixin visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin text-gradient {
  background: linear-gradient(135deg, #ffffff 0%, #a1a1a1 100%);  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
